body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px; }

a {
  color: #d65050;
  transition: all .5s; }
  a:hover {
    color: #d65050; }

.intro-sections p {
  margin-top: 30px; }
.intro-sections h2 {
  font-size: 36px;
  margin-top: 30px;
  font-family: 'Montserrat';
  position: relative; }
  .intro-sections h2:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 50px;
    height: 1px;
    margin-left: -25px;
    background-color: #d65050;
    top: 50px; }

.services-col-3 {
  margin-top: 45px; }
  .services-col-3 p {
    color: #767676; }
  .services-col-3 h3 {
    color: #443f3f;
    font-size: 20px; }
  .services-col-3 .col-sm-4 {
    transition: all .5s; }
    .services-col-3 .col-sm-4:hover {
      background-color: #d65050;
      color: #fff;
      border-radius: 23px;
      padding: 20px 10px; }
      .services-col-3 .col-sm-4:hover h3, .services-col-3 .col-sm-4:hover p {
        color: #fff;
        transition: all .5s; }

.carousel-item,
.carousel,
.carousel-inner {
  height: 100%; }

.carousel h3 {
  position: relative;
  display: inline-block;
  font-size: 57px;
  line-height: 67px;
  font-weight: 700;
  padding-bottom: 10px; }
  .carousel h3:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 50px;
    height: 1px;
    margin-left: -25px;
    background-color: #d65050; }
.carousel .carousel-caption {
  top: 40%; }
  .carousel .carousel-caption .subtitle {
    font-size: 30px;
    line-height: 40px;
    padding: 20px 0 50px;
    font-weight: 300; }
.carousel .carousel-inner {
  background-image: url(../img/banner.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%; }

.section-contact {
  margin: 60px 0; }
  .section-contact .media {
    margin-bottom: 30px; }
.section-portfolio .portfolio-img {
  min-height: 200px;
  background-color: #d65050;
  margin-bottom: 10px; }

#filters {
  list-style-type: none;
  text-align: center;
  margin-top: 45px; }
  #filters li {
    display: inline-block; }
    #filters li a {
      display: inline-block;
      text-transform: uppercase;
      padding: 0 15px;
      font-weight: 500;
      font-size: 18px; }
      #filters li a.selected {
        background-color: #d65050;
        color: #fff;
        line-height: 2;
        border-radius: 5px; }

#container {
  margin: 30px 0; }

.push-top-15 {
  margin-top: 15px !important; }
.push-top-30 {
  margin-top: 30px !important; }

.push-bottom-15 {
  margin-bottom: 15px !important; }
.push-bottom-30 {
  margin-bottom: 30px !important; }

.soft-custom {
  padding: 20px 10px; }

.text-light-black {
  color: #767676; }

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  padding: 20px 0; }
  header .logo {
    font-size: 32px;
    color: white; }
  header #mainnav {
    display: block;
    float: right;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    header #mainnav ul {
      list-style: none; }
      header #mainnav ul li {
        float: left;
        padding: 0 15px; }
        header #mainnav ul li a {
          font-size: 14px;
          color: #fff;
          font-family: 'Montserrat', sans-serif;
          font-weight: 500; }

.cmm-header {
  min-height: 300px;
  background-color: #d65050;
  color: #fff; }
  .cmm-header h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; }

footer {
  padding: 45px 0 0 0;
  background-color: #443f3f;
  color: #767676; }
  footer ul li a {
    color: #767676;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500; }
  footer p {
    font-size: 14px;
    position: relative;
    padding-left: 30px; }
    footer p i {
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -7px;
      color: #d65050; }
    footer p a {
      color: #767676; }
  footer .copy {
    margin-top: 30px;
    background-color: #333;
    color: #fff;
    padding: 5px 0; }
    footer .copy span {
      font-size: 10px; }

/**** Isotope Filtering ****/
/**** Isotope CSS3 transitions ****/
.isotope-item {
  z-index: 2; }

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1; }

.isotope {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width; }
  .isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity; }

/*# sourceMappingURL=app.css.map */
