body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

a {
    color: #223547;
    transition: all .5s;
    &:hover {
        color: #223547;
    }
}

.intro-sections {
    p {
        margin-top: $base-space * 2;
    }
    h2 {
        font-size: 36px;
        margin-top: $base-space * 2;
        font-family: 'Montserrat';
        position: relative;
        &:after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 50px;
            height: 1px;
            margin-left: -25px;
            background-color: #d65050;
            top: 50px;
        }
    }
    .img-bloc {
        width: 300px;
        margin: auto;
    }
    .push-top {
        margin: $base-space * 2 0;
    }
    .icon-img {
        width: 100px;
        margin: auto;
        margin-top: 30px;
        img {
            border-radius: 50%;
        }
    }
    @for $i from 1 through 4 {
        .portfolio-bg-img-#{$i} {
            background-image: url('../img/port-#{$i}.jpeg');
            min-height: 350px;
            background-size: cover;
            background-position: center;
        }

    }
    .portfolio-index {
        .col-sm-6 {
            padding: 0;
        }
        .desc {
            padding: 0px 20px;
        }
    }
    &.end {
        p {
            &.end-title {
                font-size: 20px;
                font-weight: 500;
            }
        }
    }
}

.services-col-3 {
    margin-top: $base-space * 3;
    p {
        color: $text-light-black;
    }
    h3 {
        color: $text-black;
        font-size:20px;
    }
    .col-sm-4 {
        transition: all .5s;
        &:hover {
            background-color: $theme-pink;
            color: #fff;
            border-radius: 23px;
            padding: 20px 10px;
            h3,p,i {
                color: #223547;
                transition: all .5s;
            }
        }
    }
}

.carousel-item,
.carousel,
.carousel-inner  {
    height: 100%;
}

.carousel {
    h3 {
        position: relative;
        display: inline-block;
        font-size: 57px;
        line-height: 67px;
        font-weight: 700;
        padding-bottom: 10px;
        &:after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 50px;
            height: 1px;
            margin-left: -25px;
            background-color: #d65050;
        }
    }
    .carousel-caption {
        top: 40%;
        .subtitle {
            font-size: 30px;
            line-height: 40px;
            padding: 20px 0 50px;
            font-weight: 300;
        }
    }
    .carousel-inner {
        background-image: url(../img/banner.jpg);
        background-position: center;
        background-size: cover;
        height: 100%;
        width: 100%;
    }
}

.section {
    &-contact {
        margin: $base-space * 4 0;
        .media {
            margin-bottom: $base-space * 2;
        }
    }
    &-portfolio {
        .portfolio-img {
            min-height: 200px;
            background-color: $theme-pink;
            margin-bottom: 10px;
        }
    }

    &-get-in {
        .min-h-400 {
            min-height: 532px;
        }
        p, h2,a {
            color: #fff;
        }
        h2 {
            margin-bottom: 15px;
        }
        input,textarea {
            background: transparent;
            border: none;
            border-bottom: 2px solid #fff;
            border-radius: 0;
            resize: none;
            padding-left: 0;
            padding-right: 0;
        }

        ::placeholder {
            color: #fff;
            opacity: 1; /* Firefox */
        }

        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #fff;
        }

        ::-ms-input-placeholder { /* Microsoft Edge */
            color: #fff;
        }
    }
}

.submit-get {
    margin-top: 30px;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 7px 28px;
    color: #fff;
    border-radius: 5px;
    font-size: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
#filters {
    list-style-type: none;
    text-align: center;
    margin-top: $base-space * 3;
    li {
        display: inline-block;
        a {
            display: inline-block;
            text-transform: uppercase;
            padding: 0 15px;
            font-weight: 500;
            font-size: 18px;
            &.selected {
                background-color: $theme-pink;
                line-height: 2;
                border-radius: 5px;
            }
        }
    }
}

#container {
    margin: $base-space * 2 0;
}
